@page "/"
@using FoodAssembly.Models




<div class="m-4 p-4 w-100">

    <FoodAssembly.Components.AppFoodCategory FoodCategories="@foodCategories">

    </FoodAssembly.Components.AppFoodCategory>


</div>




@code {

    List<FoodCategoryDto> foodCategories = new();

    protected override Task OnInitializedAsync()
    {

        foodCategories.Add(new FoodCategoryDto()
        {
            IconUrl = "/Assets/Icons/FoodCategories/website_image_asian_1.jpg",
            Name = "بین الملل"
        });

        foodCategories.Add(new FoodCategoryDto()
        {
            IconUrl = "/Assets/Icons/FoodCategories/website_image_burger_1.jpg",
            Name = "برگر"
        });

        foodCategories.Add(new FoodCategoryDto()
        {
            IconUrl = "/Assets/Icons/FoodCategories/website_image_fastfood_1.jpg",
            Name = "فست فود"
        });

        foodCategories.Add(new FoodCategoryDto()
        {
            IconUrl = "/Assets/Icons/FoodCategories/website_image_gilani_1.jpg",
            Name = "گیلانی"
        });

        foodCategories.Add(new FoodCategoryDto()
        {
            IconUrl = "/Assets/Icons/FoodCategories/website_image_irani_1.jpg",
            Name = "ایرانی"
        });

        foodCategories.Add(new FoodCategoryDto()
        {
            IconUrl = "/Assets/Icons/FoodCategories/website_image_italy_1.jpg",
            Name = "پاستا"
        });

        foodCategories.Add(new FoodCategoryDto()
        {
            IconUrl = "/Assets/Icons/FoodCategories/website_image_kebab_1.jpg",
            Name = "کباب"
        });

        foodCategories.Add(new FoodCategoryDto()
        {
            IconUrl = "/Assets/Icons/FoodCategories/website_image_pizza_1.jpg",
            Name = "پیتزا"
        });
        foodCategories.Add(new FoodCategoryDto()
        {
            IconUrl = "/Assets/Icons/FoodCategories/website_image_sandwich_1.jpg",
            Name = "ساندویچ"
        });

        foodCategories.Add(new FoodCategoryDto()
        {
            IconUrl = "/Assets/Icons/FoodCategories/website_image_seafood_1.jpg",
            Name = "دریایی"
        });


        foodCategories.Add(new FoodCategoryDto()
        {
            IconUrl = "/Assets/Icons/FoodCategories/website_image_sokhari_1.jpg",
            Name = "سخاری"
        });

        return Task.CompletedTask;

    }
}